/* Base styles */

html {
  box-sizing: border-box;  /* "fix" the box model */
}

*, *:before, *:after {
  box-sizing: inherit;     /* "fix" the box model */
}

h1 {
  margin: 0;
}

p {
  margin: 12px 0;
}

a, a:visited {
  color: #337ab7;
  text-decoration: none;
}

div.content {
  max-width: 960px;   /* keep things from getting crazy wide */
  margin: auto;       /* push content away from edges a bit */
  padding: 0px 12px;  /* push content away from edges a bit */
}

navbar {
  display: block;     /* span the whole width */
  padding-top: 13px;  /* push away from top edge a bit */
  text-align: right;  /* put it all on the right side */
}

navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

navbar ul li {
  display: inline-block;
}

navbar ul li, navbar ul li {
  margin-left: 1.75em;
}

.button a {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  padding: 0.4em 0.8em;
}

img.badge {
  float: left;
  width: 48px;
  height: 48px;
  margin: 0;
}


/* Site styles */

section.title {
  background: radial-gradient(ellipse at center, rgba(83,203,241,0.85), rgba(5,171,224,0.75) 100%);
  color: white;
  padding: 18px 0;
}

section.title h1 {
  font-size: 48px;
  font-weight: 500;
}

section.main {
  padding: 36px 0px;
}

section.footer {
  padding: 18px 0pwhite;
}

navbar ul li {
  color: #ee7600;
}

navbar ul li a, navbar ul li a:visited {
  color: #ee7600;
}

navbar ul li a:hover {
  color: #FFA500;
}

navbar ul li.button a:hover {
  background-color: #FFA500;
  color: white;
}

.front-page .content {
  max-width: 610px;
}

/* MailChimp signup form */

div.mailing-list-signup {
  text-align: center;
}

div.mailing-list-signup form {
  display: inline-block;
  text-align: left;
  margin: 32px 0;
}

div.mailing-list-signup input.email {
  border-style: solid;
  border-color: rgb(171, 176, 178);
  border-width: 1px;
  border-radius: 3px;
  color: rgb(52, 52, 52);
  height: 32px;
  width: 290px;
  margin: 3px 6px 3px 0px;
  padding: 0px 4px;
}

div.mailing-list-signup input.submit {
  background-color: #bebebe;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  font-weight: normal;
  height: 32px;
  padding: 0px 12px;
}
